#popup{
    margin: 100px; 
    margin-left: 35%; 
    margin-right: 40%;
    margin-top: 200px; 
    padding-top: 20px; 
    width: 30%; 
    height: 180px; 
    position: fixed; 
    background: #F8F8FF; 
    border: solid #000000 1px; 
    z-index: 9; 
    font-family: Helvetica; 
    visibility: visible;
}
#mainpage{
    width: 90vw;
    height: 75vh;
    border: solid 17px beige;
    padding: 30px;
    padding-top: 20px;
    padding-right: 10px; 
    position: relative;
    
    font-family: Georgia;

}

#chatbox{
    width: 71vw;
    height: 73vh; 
    overflow: auto;
    border: solid 1px black; 
    text-align: left;
    float:left;
}
#channellist{
    width:15vw;
    height:73vh;
    overflow:auto;
    border:solid 1px black;
    float:left;
      
}

.is-blurred {
    position: absolute;
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -ms-filter: blur(100px);
    -o-filter: blur(100px);
    filter: blur(100px);

}

#overlay    {
    position: fixed;
    display: block;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(255,255,255,.9);
    z-index: 999;
}
#form{
    position: absolute; 
    width: 85vw; 
    bottom: 0;
    float: left;
    margin-bottom: 10px;
    vertical-align: bottom;
}

#msg {
    float:right;
}

h1{
    font-family: Arial;
    margin: 1px;
}


ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

