#popup{
    margin: 100px; 
    margin-left: 35%; 
    margin-right: 40%;
    margin-top: 70px; 
    padding-top: 20px; 
    width: 30%; 
    height: 180px; 
    position: fixed; 
    background: #F8F8FF; 
    border: solid #000000 1px; 
    z-index: 9; 
    font-family: Helvetica; 
    visibility: hidden; 
}

#mainpage{
    width: 90vw;
    height: 75vh;
    border: solid 17px beige;
    padding: 30px;
    padding-top: 20px;
    padding-right: 10px; 
    position: relative;
    
    font-family: Georgia;

}

#chatbox{
    width: 71vw;
    height: 73vh; 
    overflow: auto;
    border: solid 1px black; 
    text-align: left;
    float:left;
}
#channellist{
    width:15vw;
    height:73vh;
    overflow:auto;
    border:solid 1px black;
    float:left;
      
}

.is-blurred {
    position: absolute;
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -ms-filter: blur(6px);
    -o-filter: blur(6px);
    filter: blur(6px);

}

#overlay    {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(255,255,255,.8);
    z-index: 999;
}
#form{
    position: absolute; 
    width: 85vw; 
    bottom: 0;
    float: left;
    margin-bottom: 10px;
    vertical-align: bottom;
}
/*
#typechat{
    position: absolute; 
    width: 85vw; 
    bottom: 0;
    float: left;
    margin-bottom: 10px;
    vertical-align: bottom;
}

#submitbutton{
    position:absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    float:right;
    vertical-align:bottom;
}

*/